nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav li a {
  text-decoration: none;
  color: grey;
  padding: 8px;
}

.left {
  left: 10px;
}

.right {
  float: right;
}

.menu-thumb {
  width: 25px; height: 25px;
}

#search {
  max-width: 800px;
  margin: 0 auto;
}

#search-form {
  margin: 0 auto;
  width: 700px;
}

#search-field {
  width: 700px; height: 30px;
}